{% extends 'base.html' %}


{% block title %}
Selected Sock: {{ the_sock.name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-md-auto mx-lg-auto">

<!-- note, the variable the_sock was passed to the template
     in the Flask route -->

	  <h1 class="mt-5 display-3 text-primary">{{ the_sock.name }}</h1>

		<ul class="mt-5 mb-5">
			<li class="lead"><span class="font-weight-bold">Style:</span> {{ the_sock.style }}</li>
			<li class="lead"><span class="font-weight-bold">Color:</span> {{ the_sock.color }}</li>
			<li class="lead"><span class="font-weight-bold">Quantity:</span> {{ the_sock.quantity }}</li>
			<li class="lead"><span class="font-weight-bold">Price:</span> ${{ the_sock.price }}</li>
			<li class="lead"><span class="font-weight-bold">Updated:</span> {{ the_sock.updated }}</li>
		</ul>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>

<!-- notice how the URL in the link above is rendered for Flask - it needs to
     name the FUNCTION, not the route - and NOT the template!
     -->

    </div>
  </div>
</div>

{% endblock %}
