{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Delete a Sock
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-lg-10 mx-lg-auto">

      <h1 class="pt-5 pb-2">Delete a Sock</h1>

	  {% if message %}

		  <!-- the form was submitted and message exists -->
		  <p class="lead"><strong>{{ message }}</strong></p>

		  <!-- links -->
		  <p><a href="{{ url_for('index') }}">Return to the index.</a></p>

		  <p><a href="{{ url_for( 'select_record', letters='AF' ) }}">Return to the selection page.</a></p>

	  {% else %}

	      <p class="lead alert alert-danger">Are you sure you want to delete this sock?</p>

		  <!-- links -->
		  <p class="ml-4">No. <a href="{{ url_for('index') }}">Return to the index.</a></p>

		  <p class="ml-4">No. <a href="{{ url_for( 'select_record', letters='AF' ) }}">Return to the selection page.</a></p>

		<!-- table showing the selected sock -->
		<table class="table">
			<tr>
				<th>Sock Name</th>
				<th>Color</th>
				<th>Style</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Updated</th>
			</tr>

			<!-- just one sock here -->
			<tr>
				<td>{{ sock.name }}</td>
				<td>{{ sock.color }}</td>
				<td>{{ sock.style }}</td>
				<td>${{ sock.price }}</td>
				<td>{{ sock.quantity }}</td>
				<td>{{ sock.updated }}</td>
			</tr>

		</table>


		<!-- start form - not a quickform but stil WTForms -->
  		<form action="{{ url_for('delete_record') }}" method="POST" id="form3">
			{{ form3.csrf_token }}
			{{ form3.id_field(value=id) }}
			{{ form3.purpose(value='deleted') }}
			{{ form3.submit(class="btn btn-danger space-below-btn") }}
		</form>
		<!-- end form -->


		{% endif %}

		</div>
	</div>
</div>

{% endblock %}
