{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Sock Market
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Sock Market!</h1>

      <p class="lead">This is the index page for an example Flask app using a SQL database containing an inventory of many colorful socks.</p>

      <p>Select the style of sock you would like to see:</p>

      <ul>
          {% for s in styles %}
          <li><a href="{{ url_for( 'inventory', style=s.style ) }}">{{ s.style }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}
