{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Sock Style List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">List of Socks</h1>

      <p class="lead alert alert-warning">This is a list of all the socks of the
			<strong>{{ style }}</strong> style in our inventory.</p>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

		<table class="table">
			<tr>
				<th>Sock Name</th>
				<th>Color</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Updated</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for sock in socks %}
			<tr>
				<td>{{ sock.name }}</td>
				<td>{{ sock.color }}</td>
				<td>${{ sock.price }}</td>
				<td>{{ sock.quantity }}</td>
				<td>{{ sock.updated }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}
